{
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "commonjs": true
  },
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "react/prop-types": "off"
  }
}
