@import "Styles/Colours.scss";

.toolbar {
    background: transparent !important;   
    box-shadow: none !important;
}

.toolbar-logo {
    color: $color-primary;
    margin-right: auto;
}

.toolbar-logo-image {
    display: flex;
    max-width: 200px;
  }