@import "Styles/Colours.scss";

.toolbar {
    background: $color-primary !important;   
    box-shadow: none !important;
}

.toolbar-logo {
    margin-right: auto;
    margin-bottom: 10px;
}

.toolbar-logo-image {
    display: flex;
    max-width: 200px;
}

.MuiButton-label {
    color: $color-white;
}