@import "Styles/Colours.scss";

.toolbar {
    background: transparent !important;   
    box-shadow: none !important;
}

.toolbar-logo {
    margin-right: auto;
    margin: 5px auto 5px 0 ;
}

.toolbar-logo-image {
    display: flex;
    max-width: 200px;
}

.MuiButton-label {
    color: $color-white;
}