@import "Styles/MediaQueries.scss";

$font-size-header: 90px;
$font-size-landing-header: 76px;
$font-size-header-mobile: 65px;
$font-size-title: 36px;
$font-size-subtitle: 24px;
$font-size-links: 20px;
$font-size-content: 21px;

$navbar-height: 90px;
$default-spacing: 16px;

$font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
$font-family-condensed: "Roboto condensed", "Helvetica", "Arial", "sans-serif";

@mixin dynamic-fonts($baseSize) {
  font-size: $baseSize * 0.7;
  @include tablet {
    font-size: $baseSize * 0.8;
  }
  @include desktop {
    font-size: $baseSize;
  }
}
