@import "Styles/Colours.scss";
@import "Styles/Variables.scss";
@import "Styles/MediaQueries.scss";

.page-header {
  background-size: cover;
  background-position: center;
  height: 40vh;
  margin-top: $navbar-height;
  @include mobile {
    margin-top: $navbar-height - 50;
  }

  display: flex;
  justify-content: center;
  align-items: center;

  .page-header-text {
    font-family: "Roboto";
    color: $color-white;
    @include dynamic-fonts($font-size-header);
  }
}
