@import "Styles/Colours.scss";
@import "Styles/Variables.scss";
@import "Styles/MediaQueries.scss";

.page-header {
  background-size: cover;
  background-position: center;
  height: 40vh;
  margin-top: $navbar-height;

  display: flex;
  justify-content: center;
  align-items: center;

  .page-header-text {
    font-family: "Roboto";
    font-size: $font-size-header-mobile;
    @include desktop {
      font-size: $font-size-header;
    }
    color: $color-white;
  }
}
