files:
    "/etc/cron.d/mycron":
        mode: "000644"
        owner: root
        group: root
        content: |
            0 0 01 */1 * root /usr/local/bin/myscript.sh

    "/usr/local/bin/myscript.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash

            date > /tmp/date
            # Your actual script content

            # Delete old certs, runs every 2 months
            rm -Rf /etc/letsencrypt

            #Install certbot and get new certs
            wget https://dl.eff.org/certbot-auto;chmod a+x certbot-auto
            docker stop $(docker ps -q --filter ancestor=liannus/tbwsite:reverseproxy )
            sudo ./certbot-auto certonly --standalone --debug --non-interactive --email joshgorman@cmail.carleton.ca --agree-tos --domains thompsonboilerworks.ca --keep-until-expiring

            exit 0

commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/mycron.bak"
