Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["tbw-secrets"]
          roleName: "aws-elasticbeanstalk-ec2-role"

files:
  "/tmp/secret/frontend/front-secret.json" :
    mode: "000644"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-ca-central-1.amazonaws.com/tbw-secrets/frontend/front-secret.json

  "/tmp/secret/backend/back-secret.json" :
    mode: "000644"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-ca-central-1.amazonaws.com/tbw-secrets/backend/back-secret.json

  "/tmp/secret/reverseproxy/htpasswd" :
    mode: "000644"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-ca-central-1.amazonaws.com/tbw-secrets/reverseproxy/htpasswd
