@import "Styles/Colours.scss";
@import "Styles/Variables.scss";
.services-nav {
    float: left;
    display: flex;
    flex-direction: column;
    padding-left: $default-spacing * 7;
    padding-top: $default-spacing * 4;
    color: $color-gray;
    h2 {
        font-size: $font-size-subtitle;
        color: black;
    }
    .MuiLink-root {
        margin-bottom: $default-spacing / 2;
        display: block;
        color: $color-gray;
        h3 {
            font-size: $font-size-links;
            font-weight: 300;
        }
    }
}

.fixed {
    top: 94px;
    position: fixed;
}