@import "Styles/Colours.scss";
@import "Styles/Variables.scss";

.contact-form,
.contact-info {
  flex: 1;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.contact-form {
  .contact-form-title {
    font-size: $font-size-subtitle * 1.2;
    font-family: "Roboto Condensed";
    color: $color-text-gray;
  }

  button {
    background: $color-secondary !important;
    margin: auto;
    padding: $default-spacing/2 100px $default-spacing/2 100px;
  }

  .MuiTextField-root {
    padding-bottom: $default-spacing;
    width: 80%;
    @include mobile {
      width: 90%;
    }
  }
}
