@import "Styles/Colours.scss";
@import "Styles/Variables.scss";
@import "Styles/MediaQueries.scss";

.service {
  margin-top: $default-spacing;
  .service-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: $default-spacing * 2;

    @include desktop {
      flex-wrap: nowrap;
    }

    .service-body,
    .service-image {
      min-width: 400px;

      @include mobile {
        min-width: 250px;
      }
    }

    .service-body {
      flex: 1;
      padding-right: $default-spacing * 2;
      @include mobile {
        padding-right: 0px;
      }
      margin-bottom: $default-spacing * 2;

      .service-body {
        flex: 1;
        padding-right: $default-spacing * 2;
        margin-bottom: $default-spacing * 2;
        .service-body-text {
          font-weight: 300;
        }
        @include mobile {
          padding-right: 0px;
        }
      }
    }

    .service-image {
      margin: auto;
      display: flex;
      justify-content: center;
      max-height: 300px;

      @include tablet {
        justify-content: flex-end;
      }

      @include desktop {
        justify-content: flex-end;
      }

      img {
        max-width: 400px;
        @include mobile {
          min-width: 250px;
        }
      }
    }
  }
}
