@import "Styles/Colours.scss";
@import "Styles/Variables.scss";

.contact-page {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: $default-spacing * 2;

  .contact-form,
  .contact-info {
    flex: 1;
    flex-direction: column;
    min-width: 300px;
    display: flex;
    align-items: center;
  }

  .contact-form {
    .contact-form-title {
      font-size: $font-size-subtitle * 1.2;
      font-family: "Roboto Condensed";
      color: $color-text-gray;
    }

    .MuiTextField-root {
      padding-bottom: $default-spacing;
      width: 80%;
      max-width: 400px;

      .MuiFilledInput-underline {
        border-radius: 0;

        &::after {
          border-color: black;
        }
      }

      .MuiInputLabel-filled {
        &.Mui-focused {
          color: black;
        }
      }
    }
  }
}
