@import "Styles/Colours.scss";
@import "Styles/Variables.scss";
@import "Styles/MediaQueries.scss";

.services-nav {
  min-width: 100px;
  text-align: center;
  position: sticky;
  padding: $default-spacing;
  white-space: nowrap;

  @include desktop {
    border-bottom: 0;
    padding: 0;
    text-align: left;
    position: sticky;
    margin: $default-spacing $default-spacing 0 0;
    top: 125px;
    float: left;
  }
  display: flex;
  flex-direction: column;
  color: $color-gray;
  h2 {
    font-size: $font-size-subtitle;
    @include desktop {
      margin-bottom: $default-spacing / 2;
    }
    color: $color-primary;
  }
  .MuiLink-root {
    color: $color-gray;
    margin: $default-spacing / 2 $default-spacing / 2 $default-spacing / 2;

    @include desktop {
      margin: 0 0 $default-spacing / 2 0;
      padding: 0 $default-spacing / 2 0 $default-spacing / 2;
      display: block;
      padding: 0;
    }
  }

  h3 {
    text-decoration: none;
    font-weight: 400;
    font-size: $font-size-links;
  }

  button:before,
  button:hover:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $color-dark-gray;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  .active h3,
  button:hover {
    color: $color-dark-gray !important;
  }

  .active:before,
  button:hover:before {
    visibility: visible;
    text-decoration: none;
    width: 100%;
  }
}
