@import "Styles/Colours.scss";
@import "Styles/Variables.scss";
@import "Styles/MediaQueries.scss";

.services-page {
  padding-bottom: $default-spacing;
  margin-top: $default-spacing * 2 !important;
  .linebreak {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
  }

  .flavor {
    margin: $default-spacing 0 $default-spacing * 2 0;
    @include desktop {
      margin-top: $default-spacing * 4;
    }
    .flavor-text {
      font-weight: 300;
    }
  }

  margin: $default-spacing * 2 0 $default-spacing * 3 0;
  h2 {
    font-size: $font-size-subtitle;
    font-weight: 400;
  }
}
